to convert celcius to farenheit

In [1]:
celcius = float(input("enter the temperature in celcius: "))

farenheit = (celcius * 9/5) + 32

print("temperature in farenheit is: ", farenheit)

enter the temperature in celcius: 0
temperature in farenheit is:  32.0

to find the area of the circle

In [2]:
pi = 22/7
radius = float(input("enter the radius of the circle: "))

area = pi * radius * radius

print("area of the circle is: ", area)

enter the radius of the circle: 5
area of the circle is:  78.57142857142857

to print the ascii value of a character

In [5]:
ch = input("enter the character: ")

print("the ascii value of " + ch + " is " + str(ord(ch)))

enter the character: b
the ascii value of b is 98

print the character with ascii value

In [6]:
asc = int(input("enter the ascii value: "))

print("the character of ", asc, " is ", chr(asc))

enter the ascii value: 97
the character of  97  is  a

compound interest

In [7]:
capital = int(input("enter the capital: "))
rate = float(input("enter the compund rate: "))
time = int(input("enter the time: "))

amount = capital * (1 + (rate/100)) ** time

print("the compound interest for capital " , capital, " and rate ", rate, " and time ", time, " is ", amount)

enter the capital: 100
enter the compund rate: 1.2
enter the time: 1
the compound interest for capital  100  and rate  1.2  and time  1  is  101.2

electricity bill

```
unit                price
first 100 unit      no charge
next 100 unit       rs 5 per unit
after 200 unit      rs 10 per unit
```

In [8]:
unit = int(input("enter the unit: "))

if unit <= 100:
  bill = 0
elif unit <= 200:
  bill = (unit-100)*5
elif (unit > 200):
  bill = 500 + (unit-200)*10

print("the electricity bill is: ", bill)

enter the unit: 350
the electricity bill is:  2000

divisible by both 2 and 3

In [10]:
num = int(input("enter a number: "))

if (num % 2 == 0 and num % 3 == 0):
  print("The number ", num, " is divisible by both 2 and 3")
else:
  print("The number ", num, " is not divisible by both 2 and 3")

enter a number: 7
The number  7  is not divisible by both 2 and 3

find equilateral , isoscales, scalene triangle founder (equilateral -> a=b=c ; scalene -> a!=b!=c ; isoscales -> a=b!=c)

In [15]:
side1 = int(input("enter the first side: "))
side2 = int(input("enter the second side: "))
side3 = int(input("enter the third side: "))

if (side1 == side2 == side3):
  print("Equilateral triangle.")
elif (side1 == side2 or side2 == side3 or side1 == side3):
  print("Isoscales triangle.")
else:
  print("Scalene triangle.")

enter the first side: 1
enter the second side: 2
enter the third side: 2
Isoscales triangle.

input age , sex (M, F), number of days and display wages

```
age             sex          wage/day
>=18 and <30     M           700
                 F           750
>=30 and <=40    M           800
                 F           850
```

In [19]:
age = int(input("enter the age: "))
sex = input("enter the sex (M/F): ")
days = int(input("enter the number of days: "))

if (sex == 'M' or sex == 'm'):
  if (age >= 18 and age < 30):
    wage = 700 * days
    print("the wage is: ", wage)
  elif (age >= 30 and age <= 40):
    wage = 800 * days
    print("the wage is: ", wage)
  else:
    print("enter appropiate age")
elif (sex == 'F' or sex == 'f'):
  if (age >= 18 and age < 30):
    wage = 750 * days
    print("the wage is: ", wage)
  elif (age >= 30 and age <= 40):
    wage = 850 * days
    print("the wage is: ", wage)
  else:
    print("enter appropiate age")
else:
  print("invalid input")

enter the age: 30
enter the sex (M/F): f
enter the number of days: 20
the wage is:  17000